%h2 Change password
%p
  Changing password for
  %strong= @user.name
= simple_form_for :user do |f|
  = f.hidden_field :id, :value => @user.id
  = f.input :password
  = f.input :password_confirmation
  = f.submit
