%h2= @user.name
.role
  = User::Roles[@user.role]
%h3 Boxes
= render :partial => 'boxes/box_row', :collection => @user.boxes, :as => :box
.buttons
  = link_to "Edit", { :action => :edit, :id => @user }, :class => "btn"
  = link_to "Change password", { :action => :password, :id => @user }, :class => "btn"
  = button_to "Delete", { :action => :delete, :id => @user }, :class => "btn btn-danger"
