.box-partial
  %h3
    = link_to box.name, :controller => :boxes, :action => :view, :id => box
  .box-description
    = box.description
  .box-actions
    Opened by
    = render :partial => 'users/user', :object => box.user, :as => :user
    &#149;
    = link_to box.ideas.count.to_s + " idea(s)", :controller => :boxes, :action => :view, :id =>box
    &#149;
    = link_to "Edit", :controller => :boxes, :action => :edit, :id => box
    &#149;
    = link_to "Delete", :controller =>:boxes, :action => :delete, :id => box
