!!!
%html
  %head
    %title Idea3
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container#wrapper
      .navbar
        .navbar-inner
          = link_to "/", :class => "brand" do
            Idea
            %sup 3
          %ul.nav
            %li= link_to "Boxes", :controller => :boxes, :action => :list
          %ul.nav.pull-right
            - if get_user
              %li= link_to get_user.name, :controller => :users, :action => :view, :id => get_user
              %li= link_to "Logout", :controller => :users, :action => :logout
            - else
              %li= link_to "Login", :controller => :users, :action => :login
              %li= link_to "Register", :controller => :users, :action => :register
      - if flash[:error]
        - flash[:error].each do |err|
          .alert.alert-error= err
      - if flash[:warning]
        - flash[:warning].each do |warn|
          .alert= warn
      =yield
